html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Montserrat Alternates;
}

.topnav{
    font-size:80%;
    position: relative;
    top: -9rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

h1 {
   font-size: 250%;
   padding: 15;
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

a{
  text-decoration: none;
  color: white;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

img {
  position: absolute;
  top: 100%;
  left: 50%;
  max-width: 30%;
  max-height: 60%;
  transform: scale(.75) translateX(0%) translateY(0%) rotate(0deg);
  padding: 1px;
  border-radius: 1px;
  background: none;
  box-shadow: none;
}

img:last-of-type {
  transform: translateZ(.4px) scale(.7) translateX(-4%) translateY(-4%) rotate(-0deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
  width: 30%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("https://images.unsplash.com/photo-1547401642-1b9d8fe87ce8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
  z-index:2;
  height:140%;
}

#title h1 {
 transform: translateZ(.25px) scale(.60);
 transform-origin: 50% 100%;

}
#title h3 {
 transform: translateZ(.25px) scale(.70);
 transform-origin: 50% 100%;

}



#slide1:before {
  background-image: url(../images/kumushaimagebackground.png);
  transform: translateZ(-1px) scale(2);
  height: 130%;
}

#slide2 {
  background-image: url(../images/featherbackground\ 2.png);
  z-index: 2;
  width: 105%;
  height: 150%;
}


.imagekone{
  position: absolute;
  top: 0px; 
  left: 55%;
}

.imagektwo{
  position: absolute;
  top: 380px;
  left: 60%; 
}

.imagekthree{
  position: absolute;
  top: 250px;
  left: 45%; 
}

.imageone{
  position: absolute;
  top: 5px; 
  right: 30%; 
}

.imagetwo{
  position: absolute;
  top: 450px;
  left: 45%; 
}

.imagethree{
  position: absolute;
  top: 250px;
  right: 60%; 
}

.imageonet{
  position: absolute;
  top: 150px; 
  left: 60%; 
}



#slide3:before {
  background-image: url(../images/tailobackground.jpg);
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background-image: url(../images/touch2.png);
  
}




.animation-box {
  width: 100%;
  height: 27.5rem;
  
  margin: 10;
  overflow: hidden;
  position: relative;
  padding:30px;
}

.animation-container {
  width: 1000rem;
  height: 20rem;
  padding:50px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1%;
  }
}

  
.first-text {
  margin: 20px;
  padding: 12px;
  border: 12px;
  font-size: 2rem;
  text-shadow: 2px 2px #444;
  position: absolute;
  top: 2.5rem;
  right: 0%;
  opacity: 0;
  color: white;
  animation-name: fadeInOut;
  animation-delay: 1.5s;
  animation-duration: 8s;
}

.second-text {
  margin: 20px;
  padding: 12px;
  border: 12px;
  font-size: 2rem;
  text-shadow: 2px 2px #444;
  position: absolute;
  top: 7.5rem;
  left: 0%;
  opacity: 0;
  color: white;
  animation-name: fadeInOut;
  animation-delay: 9s;
  animation-duration: 8s;
}

.third-text {
  margin: 20px;
  padding: 12px;
  border: 12px;
  font-size: 2rem;
  text-shadow: 2px 2px #444;
  position: absolute;
  top: 12.5rem;
  left: 0%;
  opacity: 0;
  color: white;
  animation-name: fadeInOut;
  animation-delay: 14s;
  animation-duration: 9s;
}
.fourth-text {
  font-size: 2rem;
  text-shadow: 2px 2px #444;
  position: absolute;
  bottom: 10px;
  left: -35%;
  opacity: .80;
  color: white;
  width: 170%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  transform: translateZ(.25px) scale(.70);
 transform-origin: 50% 100%;
}

@import url("https://fonts.googleapis.com/css?family= Montserrat, sans-serif");
@media screen and (max-width: 650px){
  h1{
    font-size: 100%;
  }
}